@model EntityLayer.Concrete.Intern
@{
    ViewBag.Title = "AddNewIntern";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container-fluid col-10 mt-3">
    <h1 class="lead font-weight-normal">Staj Ekle</h1>
    <br />
    @using (Html.BeginForm("AddNewIntern", "Intern", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.Label("Firma İsmi")
        @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
        <br />
        @Html.Label("Firmadaki Sorumlusu")
        @Html.TextBoxFor(x => x.CompanyResponsible, new { @class = "form-control" })
        <br />
        @Html.Label("Firmadaki Sorumlunun Numarası")
        @Html.TextBoxFor(x => x.CompanyResponsibleNumber, new { @class = "form-control" })
        <br />
        @Html.Label("Başlangıç tarihi")
        @Html.TextBoxFor(x => x.StartDate, new { @class = "form-control", @id = "startDate" })
        <br />
        @Html.Label("Bitiş Tarihi")
        @Html.TextBoxFor(x => x.FinishDate, new { @class = "form-control", @id = "finishDate" })
        <br />
        @Html.Label("Staj Belgesi İsmi")
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        @Html.Label("Staj Belgesi Yükleme")
        <input type="file" name="UploadFile">
        <br />
        @Html.Label("Staj Tipi")
        @Html.DropDownListFor(x => x.InternNameID, (List<SelectListItem>)ViewBag.InternTypes, new { @class = "form-control" })
        <br />
        @* Default 3 Eklenir *@
        @*@Html.Label("Staj İlerleme Durumu")
            @Html.DropDownListFor(x => x.InternStatusID, (List<SelectListItem>)ViewBag.InternStatus, new { @class = "form-control" })
            <br />*@
        @Html.Label("Öğrencinin Adı")
        @Html.DropDownListFor(x => x.StudentID, (List<SelectListItem>)ViewBag.Students, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary" id="">Ekle</button>
    }
    <button onclick="func1()" class="btn btn-primary" id="tus">HEsapla</button>
</div>
<script type="text/javascript">





</script>