@model EntityLayer.Concrete.InternStatus

@{
    ViewBag.Title = "UpdateType";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("UpdateType", "InternStatus", FormMethod.Post))
{
    <br />
    <div class="container-fluid col-8">

        <h2 class="label">Staj Aşaması Kısmı Güncelleme Sayfası</h2>

        <form class="form-group" method="post">
            @Html.HiddenFor(x =>x.InternStatusID)
            @Html.Label("Stajın İsmi")
            @Html.TextBoxFor(x => x.InternStatusName, new { @class = "form-control" })
            <br />
            @Html.Label("Açıklama")
            @Html.TextBoxFor(x => x.InternStatusDesc, new { @class = "form-control" })
            <br />
            <button class="btn btn-warning">Güncelle</button>
        </form>
    </div>
}
